# OS files
.DS_Store
Thumbs.db
*.swp
*.swo
*~

# IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
.fleet/
.nova/
.zed/

# Environment files
.env
.env.backup
.env.production

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules/
vendor/

# Build output
dist/
dist-ssr/
/build/
/public/build/
/public/hot/
/public/storage/

# Laravel specific
/storage/*.key
/storage/pail
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/framework/testing/*
/storage/logs/*
!storage/framework/.gitignore
!storage/framework/cache/.gitignore
!storage/framework/sessions/.gitignore
!storage/framework/views/.gitignore
!storage/framework/testing/.gitignore
!storage/logs/.gitignore
.phpunit.result.cache
.phpunit.cache
Homestead.json
Homestead.yaml
auth.json
.phpactor.json
*.sage

# Composer
/composer.lock
/backend/composer.lock

# Zip files
*.zip

# NPM
/package-lock.json
/backend/package-lock.json
/frontend/package-lock.json